
@font-face {
    font-family: "poppins";
    src: url("../resources/font/Poppins-Regular.ttf");
}

@font-face {
    font-family: "poppinsextra";
    src: url("../resources/font/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: "poppinsbold";
    src: url("../resources/font/Poppins-Bold.ttf");
}

.space{
  width: 100%;
  height: 13em;
}

body{
  background-color: #132019;
}



.banner{
    margin-top: 0;
 
  
  
}

.bannerimg{
    width: 100%; 

 
}

.start--div{
    width: 100%;
    height: 7rem;
}



.home--sec4--div1--heading1{
  
    font-family:"poppinsextra";
    color: #DAEEE1;
    font-size: 1.6rem;

    /* padding: 0%;
    margin-top: 1rem; */
    
}

.home--sec4--div1--heading2{
    font-family:"poppinsbold";
    color: #EFBA90;
    font-size:1.2rem ;
    display: flex;
    /* padding: 0%;
    margin-top:0.05rem; */
    margin-bottom: 1rem;
    
}

.home--sec4--div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    
}

/* .home--sec4--div3{
  
    background-color:#E1E1E1 ;
    display: flex;
    flex-direction: column;
    
    height: 29rem;
    width: 90%; 
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 1rem;
} */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    /* Adds space between the cards */
}

@media (max-width: 544px) {
    .home--sec4--div3 {
        flex: 1 1 100%;
        /* Takes full width on small screens */
    }
}

@media (min-width: 545px) {
    .home--sec4--div3 {
        flex: 1 1 40%;
        /* Takes nearly half width on medium screens */
    }

    /* .home--sec3--header1 {
        font-size: 1.5rem;
    } */
}


@media (min-width: 545px) {
  .banner{
    margin-top: -13%;
}
}

@media (min-width: 545px) and (max-width:750px) {
  .banner{
    margin-top: -18%;
}
}

@media (min-width: 950px) {
  .banner{
    margin-top: -11%;
}
    .home--sec4--div3 {
        flex: 1 1 18%;
        /* Takes about one-third width on large screens */
    }
}

@media (min-width: 950px) and (max-width:1100px) {
    .home--sec4--div3 {
        flex: 1 1 25%;
        /* Takes about one-third width on large screens */
    }
}


  @media screen and (min-width: 768px) {
    .home--sec4--div2 {
       display: flex; 
      flex-direction:row;
      gap: 2%;
      grid-auto-flow:row;
    
    }

    /* .home--sec4--div3 {
       width: 50%;
     
     }
    .card1{
       
    }  */

  }
/* end card */



/* .card1{
    height: 45%;
    width: 100%;
    margin-top: 0%;
    border-radius: 1rem;
  } */

  .cardContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 4%;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
  
  .productCard {
    width: 90%;
    /* aspect-ratio: 0.64; */
    background-color:#648068;
    border-radius: 10px 10px 0 0;
    margin-top: 3%;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: min-content;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2),
    0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.19);
    transition: 1s;
  }

  .productCard:hover {
    transform: scale(1.1);
    z-index: 2;
  }
  
  .productCard--img {
    width: 100%;
    /* height: 25%; */
    background-size: cover;
    background-position: center;
    border-radius: 1rem 1rem 0rem 0rem;
    /* border: 1px solid rgb(152, 152, 152); */
    border-bottom: none;
    display: flex;
    flex-direction: column;
  }

  .card1{
    border-radius: 1rem 1rem 0rem 0rem;
    height: 18rem;
  }
  
  .productCard--content {
    width: 94%;
    /* height: 45%; */
    
    /* border: 1px solid rgb(152, 152, 152); */
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 8%;
  }
  
  .card1--heading1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.5rem;
    font-family:"poppinsbold" ;
    font-size: 1.5rem;
    color: #023213;
  }
  
  .card1--heading2{
    font-family:"poppins" ;
    font-size: 1rem;
    /* padding: 1rem; */
    text-align:left;
    color: #023213;
  }

  .button--card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
  }


  
  .button-78 {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #DAEEE1;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 14px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 1rem;
    min-height: 6px;
    outline: none;
    overflow: visible;
    padding: 0.6rem 0.8rem;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
  }
  
  @media (min-width: 768px) {
    .button-78 {
      padding: 0.7rem 1rem;
    }
  }
  
  .button-78:before,
  .button-78:after {
    border-radius: 80px;
  }
  
  .button-78:before {
    background-image: linear-gradient(#023213 0, #0c0d0d 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }
  
  .button-78:after {
    background-color: initial;
    background-image: linear-gradient(92.83deg, #023213 0, #0c0d0d 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
  }
  
  .button-78:hover:not(:disabled):before {
    background-image: linear-gradient(#023213 0, #0c0d0d 100%);
  }
  
  .button-78:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  
  .button-78:active:not(:disabled) {
    color: #ccc;
  }
  
  .button-78:active:not(:disabled):before {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #648068 0%, #023213  100%);
  }
  
  .button-78:active:not(:disabled):after {
    background: linear-gradient(92.83deg, #648068 0%, #023213 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
  }
  
  .button-78:disabled {
    cursor: default;
    opacity: .24;
  }
  
  @media only screen and (min-width: 600px) {
    .productCard{
      width: 40%;
    }
  }
  
  @media screen and (min-width: 600px) {
    .productCard{
      width: 45%;
    }
  }
  
  @media screen and (min-width: 780px) {
    .productCard{
      width: 45%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .productCard{
      width: 30%;
    }
  }
  
  @media screen and (min-width: 1450px) {
    .productCard{
      width: 20%;
    }
  }

  .collapse{
    height: 26vh;
    overflow: hidden;
  }
  
  .todo--readmoreRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  
  .todo--readmore{
    background-color: #023213;
    width: 30%;
    padding: 3%;
    border: none;
    border-radius: 1rem;
    color: #DAEEE1;
    font-weight: bold;
  }
  
  .todo--readmore:hover{
    background-color: black;
    color: #DAEEE1;
    cursor: pointer;
  }

  .tourpack--color{
    background-color: #132019;
background-image: linear-gradient(45deg, #132019 0%, #327d35 50%, #132019 100%);


    /* background-image: linear-gradient(135deg,rgba(0,255,0,0.9),rgba(255, 115, 0, 0.9),rgba(0, 162, 255, 0.9)); */
    padding-top: 3%;
    padding-bottom: 5%;
  }

  @media screen and (min-width:545px) {

    .tourpack--color{
      padding-top: 2%;
      padding-bottom: 4%;
    }
    
  }

  @media screen and (min-width:950px) {

    .tourpack--color{
      padding-top: 1%;
      padding-bottom: 2%;
    }
    
  }








  .des--sec1--div1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.des--sec1--div2 {
    display: flex;

    width: 100%;

    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.des--banner1 {
    width: 100%;
    height: 350px;
    height: fit-content;

}

.des--sec1--div3 {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
}

.des--span1 {

    font-family: "poppins_bold";
    font-size: 2rem;
    color: #DAEEE1;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function:ease-in ;
    animation-iteration-count: 1;
    animation-direction:normal ;
    animation-fill-mode:both ;

    

}

@keyframes slideInLeft {
    from {
        transform: translate(-300px);
    }


    to {
        transform: translate(0);
    }
}


@media screen and (min-width:900px) {
    .des--span1 {
        font-size:4rem;
      
        
    
    }
    
}


@media screen and (min-width:1200px) {
    .des--span1 {
        font-size:7rem;
      
        
    
    }
    
}

@media screen and (min-width:650px) and (max-width:949px) {
  .space1{
      width: 100%;
      height: 9em;
  }
}

  .pageimg {
    z-index: -10;
    width: 40rem;
    margin-left: -21rem;
    overflow: hidden;
    position: absolute;
}

.pageimg2 {
    z-index: -10;
    width: 40rem;
    overflow: hidden;
    position: absolute;

}


.sec6--div10 {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    /* position: absolute; */
width: 100%;

}