@font-face {
    font-family: "poppins_regular";
    src: url(../resources/font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppins_bold";
    src: url(../resources/font/Poppins-Bold.ttf);
}

@font-face {
    font-family: "poppins_extra";
    src: url(../resources/font/Poppins-ExtraBold.ttf);
}



body {
    /* width: 100%; */
    padding: 0;
    margin: 0%;
   

}
/* .header--body{
    position: fixed;
} */

.header--sec1{
    position: fixed;
    width: 100%;
    z-index: 1000;
    /* background-color: red; */
}

.header--sec2{
    position: fixed;
    width: 100%;
    z-index: 1000;
    
}

.header--sec3{
    position: fixed;
    width: 100%;
    z-index: 1000;
}


.header--sec1--div1, .header--sec2--div1, .header--sec3--div1 {
    background-color: transparent;
    color: #DAEEE1;
    transition: background-color 0.3s, color 0.3s;
  }
  


.header--sec1--div1 {
    display: flex;
    /* position: relative; */
    z-index: 100;
    width: 100%;
    height: fit-content;
    /* background-color: red; */

    flex-direction: row;
}

.header--sec1--div2 {
    width: 15%;

}

.header--logo {
    width: 7rem;
    margin-left: 2rem;
    filter: brightness(1);
}

.header--sec1--div3 {
    width: 70%;
    display: flex;
    /* background-color: rgb(225, 225, 236); */
    justify-content: end;
    align-items: center;
}


.header--text {
    text-decoration: none;
    font-family: "poppins_bold";
    color: #DAEEE1;
    padding: 0.3rem;
    letter-spacing: 0.08rem;
    font-size: 0.8 rem;


}

.header--text:hover {
    color: #063617;
}

.header--sec1--div4 {
    width: 14%;
    display: flex;
    /* background-color: rgb(76, 76, 206); */
    justify-content: center;
    align-items: center;
}

.header--text2 {
    text-decoration: none;
    font-family: "poppins_extra";
    color: #DAEEE1;
    padding: 1rem;
    /* font-size: 1.1rem; */
    background-color: #023213;
    border-radius: 38px;
    width: 7rem;
    text-align: center;
    letter-spacing: 0.08rem;
}

.header--text2:hover {
    background-color: transparent;
    color: #648068;
    border: solid 3px #648068;
    filter: brightness(1);
}

.dropdown {
    float: left;
    overflow: hidden;


}

.dropdown .dropbtn {

    border: none;
    outline: none;
    color: #DAEEE1;
    /* padding: 14px 16px; */
    background-color: transparent;
    text-decoration: none;
    font-family: "poppins_bold";
    /* color: rgb(255, 255, 255); */
    padding: 0.3rem;
    letter-spacing: 0.08rem;
    font-size: 0.9rem;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: #DAEEE1;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #023213;
    font-family: "poppins_bold";

    font-size: 0.9rem;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    /* background-color: #555; */
    color: #DAEEE1;
}

.dropdown-content a:hover {
    background-color: #023213;
    color: #DAEEE1;
}

.dropdown:hover .dropdown-content {
    display: block;
}



@media screen and (min-width:650px) and (max-width:949px) {
    .header--sec1--div1 {
        display: none;


    }

    .header--sec2--div1 {
        display: none;

    }

    .header--sec3--div1 {
        display: flex;
        position: absolute;
        z-index: 100;


    }

    .header--sec3--div5 {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .header--sec3--div1 {
        width: 100%;
        height: fit-content;

        display: flex;
        flex-direction: column;
    }


    .header--sec3--div2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .header--logo {
        margin-left: 17vh;
        width: 7rem;
        display: flex;
        filter: brightness(1);
    }

    .header--sec3--div3 {
        width: 100%;
        display: flex;
        /* background-color: rgb(225, 225, 236); */
        justify-content: center;
        align-items: center;
        column-gap: 1.5rem;
        margin-bottom: 1rem;
    }


    .header--text3 {
        text-decoration: none;
        font-family: "poppins_regular";
        font-weight: 600;
        color: #DAEEE1;
        letter-spacing: 0.08rem;
        font-size: 0.8rem;
    }

    .header--text3--sm {
        text-decoration: none;
        font-family: "poppins_regular";
        font-weight: 600;
        color: #023213;
        letter-spacing: 0.08rem;
        font-size: 0.8rem;
    }

    .header--sec3--div4 {
        width: 20%;
        display: flex;
        /* background-color: rgb(76, 76, 206); */
        justify-content: start;
        margin: 1rem;
        align-items: center;
    }

    .header--text2 {
        text-decoration: none;
        font-family: "poppins_extra";
        color: #DAEEE1;
        /* padding: 0.rem; */
        font-size: 0.8rem;
      
        border-radius: 10px;
        width: 5rem;
        height: 0.8rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.08rem;
    }

}

@media screen and (min-width:950px) {
    .header--sec1--div1 {
        display: flex;
        position: absolute;
        z-index: 100;

    }

    .header--sec2--div1 {
        display: none;

    }

    .header--sec3--div1 {
        display: none;

    }



    .header--sec1--div2 {
        width: 15%;

    }

    .header--logo {
        width: 8rem;
        margin-left: 2rem;
    }

    .header--sec1--div3 {
        width: 70%;
        display: flex;
        /* background-color: rgb(225, 225, 236); */
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
    }


    .header--text {
        text-decoration: none;
        font-family: "poppins_bold";
        color: #DAEEE1;
        padding: 0.3rem;
        letter-spacing: 0.08rem;
        font-size: 0.9rem;


    }

    .header--sec1--div4 {
        width: 14%;
        display: flex;
        /* background-color: rgb(76, 76, 206); */
        justify-content: center;
        align-items: center;
    }

    .header--text2 {
        text-decoration: none;
        font-family: "poppins_extra";
        color: #DAEEE1;
        /* padding: rem; */
        font-size: 0.9rem;
    
        border-radius: 38px;
        width: 6rem;
        text-align: center;
        letter-spacing: 0.08rem;
    }
}

@media screen and (min-width:1150px) {



    .header--logo {
        width: 8rem;
        margin-left: 2rem;
    }

    .header--sec1--div3 {
        width: 70%;
        display: flex;
        /* background-color: rgb(225, 225, 236); */
        justify-content: end;
        align-items: center;
        column-gap: 1rem;
    }


    .header--header--text {
        text-decoration: none;
        font-family: "poppins_bold";
        color: #DAEEE1;
        padding: 0.3rem;
        letter-spacing: 0.08rem;
        font-size: 0.9rem;


    }

    .header--sec1--div4 {
        width: 14%;
        display: flex;
        /* background-color: rgb(76, 76, 206); */
        justify-content: center;
        align-items: center;
    }

    .header--text2 {
        text-decoration: none;
        font-family: "poppins_extra";
        color: #DAEEE1;
        /* padding: rem; */
        font-size: 0.9rem;
    
        border-radius: 38px;
        width: 6rem;
        text-align: center;
        letter-spacing: 0.08rem;
    }








}



@media screen and (min-width:100px) and (max-width:649px) {
    .header--sec1--div1 {
        display: none;

    }

    .header--sec3--div1 {
        display: none;

    }

    .header--sec2--div1 {
        display: flex;
        width: 100%;
        position: absolute;
        z-index: 100;
        /* background-color: #E42828; */


    }


    .mobile-container {
   width: 100%;
    margin: 0;
    padding: 0%;
    /* background-color: #555; */
    height: fit-content;
    color: #DAEEE1;
    border-radius: 10px;
  }
  
  .topnav1 {
    overflow: hidden;
    background-color:transparent;
    position: relative;
  }
  
  .topnav1 #myLinks {
    display: none;
  }
  
  .topnav1 a {
    color: #023213;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-family: "poppins_bold";
   
  }
  
  .topnav1 a.icon {
    /* background: rgb(255, 255, 255); */
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav3{
    background-color: #DAEEE1;
    text-align: center;
  }
  
  .topnav3  a:hover {
    background-color: #023213;
    color: #DAEEE1;
  }
  
  /* .active {
    background-color: #04AA6D;
    color: white;
  } */


  .logo1{
    width: 6rem;
  }

  .logo2{
    width: 3.5rem;
    margin: 1rem;
  }













}